[submodule "NevosoftClasses"]
	path = NevosoftClasses
	url = https://github.com/Creepobot/NevosoftClasses
[submodule "LockBitmap"]
	path = SupercowVideoPlayer
	url = https://gist.github.com/tkouba/0b7f8496f1aadcfee2db
